// Footer
footer(role="contentinfo").footer
    .container.container--space-between

        // Partners
        section.footer__column
            h3.footer__title Партнерам
            nav(role="navigation" aria-label="Меню в подвале, Партнерам").footer__menu
                ul(role='menubar').footer__list
                    li.footer__item
                        a(href='javascript:void(0)' title='Поставщики' role="link").footer__link Поставщики
                    li.footer__item
                        a(href='javascript:void(0)' title='Строительство и эксплуатация' role="link").footer__link Строительство и эксплуатация
                    li.footer__item
                        a(href='javascript:void(0)' title='Аутстафинг' role="link").footer__link Аутстафинг
                    li.footer__item
                        a(href='javascript:void(0)' title='Франчайзинг' role="link").footer__link Франчайзинг
                    li.footer__item
                        a(href='javascript:void(0)' title='Субаренда' role="link").footer__link Субаренда

        // Career
        section.footer__column
            h3.footer__title Карьера
            nav(role="navigation" aria-label="Меню в подвале, Карьера").footer__menu
                ul(role='menubar').footer__list
                    li.footer__item
                        a(href='javascript:void(0)' title='Работа для студентов' role="link").footer__link Работа для студентов
                    li.footer__item
                        a(href='javascript:void(0)' title='Истории успеха' role="link").footer__link Истории успеха
                    li.footer__item
                        a(href='javascript:void(0)' title='Работа в магазине' role="link").footer__link Работа в магазине
                    li.footer__item
                        a(href='javascript:void(0)' title='Работа в офисе' role="link").footer__link Работа в офисе
                    li.footer__item
                        a(href='javascript:void(0)' title='Мероприятия' role="link").footer__link Мероприятия
                    li.footer__item
                        a(href='javascript:void(0)' title='HR обучение' role="link").footer__link HR обучение
                    li.footer__item
                        a(href='javascript:void(0)' title='Работа в логистике' role="link").footer__link Работа в логистике

        // Customers
        section.footer__column
            h3.footer__title Покупателям
            nav(role="navigation" aria-label="Меню в подвале, Покупателям").footer__menu
                ul(role='menubar').footer__list
                    li.footer__item
                        a(href='javascript:void(0)' title='О Компании' role="link").footer__link О Компании
                    li.footer__item
                        a(href='javascript:void(0)' title='Акции' role="link").footer__link Акции
                    li.footer__item
                        a(href='javascript:void(0)' title='Магазины' role="link").footer__link Магазины
                    li.footer__item
                        a(href='javascript:void(0)' title='Новости' role="link").footer__link Новости
                    li.footer__item
                        a(href='javascript:void(0)' title='Товары' role="link").footer__link Товары
                    li.footer__item
                        a(href='javascript:void(0)' title='Рецепты' role="link").footer__link Рецепты

        // Feedback
        section.footer__column
            h3.footer__title Обратная связь
            nav(role="navigation" aria-label="Меню в подвале, Обратная связь").footer__menu
                ul(role='menubar').footer__list
                    li.footer__item
                        a(href='javascript:void(0)' title='Напишите нам' role="link").footer__link Напишите нам
                    li.footer__item
                        a(href='javascript:void(0)' title='Закажите звонок' role="link").footer__link Закажите звонок

        // Address
        section(itemscope itemtype="http://schema.org/PostalAddress").footer__address
            img(src='img/logo-footer.png' alt='Пяторочка' title='Пяторочка' itemprop="image").footer__logo
            p.footer__text Головной офис:
            p(itemprop="streetAddress").footer__address-data.
                Адрес: <span itemprop="postalCode">109029</span>, Москва, Средняя Калитниковская ул., д. 28, стр. 4. Телефон: <span itemprop="telephone">(495) 662-88-88</span>

.scripts

    // Set JS assets
    script(src="js/vendor/vendor-bundle.min.js" defer)
    script(src="js/custom/custom-bundle.min.js" defer)

    //include _googleAnalytics
    //include _yandexMetrika
