// Header
header

    // Top menu
    .top-header
        .container
            // Cities dropdown
            .cities
                a(href='javascript:void(0)' title='Омск').cities__dropdown Омск
                ul.cities__dropdown-list
                    li.cities__dropdown-item
                        a(href='javascript:void(0)' title='Москва').cities__dropdown-link Москва
                    li.cities__dropdown-item
                        a(href='javascript:void(0)' title='Нефтюганск').cities__dropdown-link Нефтюганск
                    li.cities__dropdown-item
                        a(href='javascript:void(0)' title='Санкт-Петербург').cities__dropdown-link Санкт-Петербург

            // Top menu links
            nav.top-menu
                ul.top-menu__list
                    li.top-menu__item
                        a(href='javascript:void(0)' title='О компании').top-menu__link О компании
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Акции').top-menu__link Акции
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Магазины').top-menu__link Магазины
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Новости').top-menu__link Новости
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Товары').top-menu__link Товары
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Напишите нам').top-menu__link Напишите нам

            // Top menu phone
            a(href='tel:88005555505' title='Наш телефон').top-phone 8-800-555-55-05

    // Header
    .header
        .container

            // Logo
            a(href='javascript:void(0)' title='Пяторочка').header__logo
                img(data-original='svg/logo.svg' alt='Пяторочка').header__logo-img

            // Menu
            nav.header-menu
                ul.header-menu__list
                    li.header-menu__item
                        a(href='javascript:void(0)' title='Покупателям').header-menu__link Покупателям
                    li.header-menu__item
                        a(href='javascript:void(0)' title='Партнерам').header-menu__link Партнерам
                    li.header-menu__item
                        a(href='javascript:void(0)' title='Карьера').header-menu__link Карьера

            // Search
            a(href='javascript:void(0)' title='Поиск').header-search

            // Login
            a(href='javascript:void(0)' title='Войти').header-login Войти