// Header
header(role="banner")

    // Top menu
    .top-header#js-top-nav
        .container.container--space-between
            // Cities dropdown
            .cities
                a(href='javascript:void(0)' title='Омск' role="link").cities__dropdown.js-cities__dropdown Омск
                ul(role='menu').cities__dropdown-list.js-cities__dropdown-list
                    li(role='menuitem').cities__dropdown-item
                        a(href='javascript:void(0)' title='Москва' role="link").cities__dropdown-link Москва
                    li(role='menuitem').cities__dropdown-item
                        a(href='javascript:void(0)' title='Нефтюганск' role="link").cities__dropdown-link Нефтюганск
                    li(role='menuitem').cities__dropdown-item
                        a(href='javascript:void(0)' title='Санкт-Петербург' role="link").cities__dropdown-link Санкт-Петербург

            // Top menu links
            nav(role="navigation" aria-label="Верхнее меню").top-menu
                ul(role='menubar').top-menu__list
                    li.top-menu__item
                        a(href='javascript:void(0)' title='О компании' role="link").top-menu__link О компании
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Акции' role="link").top-menu__link Акции
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Магазины' role="link").top-menu__link Магазины
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Новости' role="link").top-menu__link Новости
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Товары' role="link").top-menu__link Товары
                    li.top-menu__item
                        a(href='javascript:void(0)' title='Напишите нам' role="link").top-menu__link Напишите нам

            // Top menu phone
            a(href='tel:88005555505' title='Наш телефон').top-phone 8-800-555-55-05

    // Header
    .header
        .container.container--space-between

            // Logo
            a(href='javascript:void(0)' title='Пяторочка' role='link').header__logo
                img(data-original='svg/logo.svg' src='svg/logo.svg' alt='Пяторочка').header__logo-img

            // Search for small devices
            a(href='javascript:void(0)' title='Поиск' role="search").header-search.header-search--sm

            // Toggle gamburger
            a(href='javascript:void(0)').header-toggler#js-toggler
                span

            // Menu
            nav(role="navigation" aria-label="Основное меню").header-menu
                ul(role='menubar').header-menu__list
                    li.header-menu__item
                        a(href='javascript:void(0)' title='Покупателям' role="link").header-menu__link Покупателям
                    li.header-menu__item
                        a(href='javascript:void(0)' title='Партнерам' role="link").header-menu__link Партнерам
                    li.header-menu__item
                        a(href='javascript:void(0)' title='Карьера' role="link").header-menu__link Карьера

            // Search
            a(href='javascript:void(0)' title='Поиск' role="search").header-search

            // Login
            a(href='javascript:void(0)' title='Войти' role="link").header-login Войти