// Loyalty
.loyalty
    .container.container--space-arround
        section.loyalty__left
            p.loyalty__slogan Платите меньше
            h2.loyalty__description Станьте частью программы лояльности: получите карту<br/>Пятерочки в любом магазине сети и покупайте дешевле.
            a(href='javascript:void(0)' title='Зарегистрировать карту' role='link').loyalty__btn Зарегистрировать карту
        img(src='img/loyalty-card.png' alt='Карта лояльности' title='Станьте частью программы лояльности: получите карту Пятерочки в любом магазине сети и покупайте дешевле.').loyalty__card