// Loyalty
.loyalty
    .container.container--space-arround
        section.loyalty__left
            p.loyalty__slogan Платите меньше
            h2.loyalty__description Станьте частью программы лояльности: получите карту Пятерочки в любом магазине сети и покупайте дешевле.
            a(href='javascript:void(0)' title='Зарегистрировать карту').loyalty__btn Зарегистрировать карту
        div.loyalty__card
            img(src='svg/loyalty-logo.svg' alt='Карта лояльности' title='Станьте частью программы лояльности: получите карту Пятерочки в любом магазине сети и покупайте дешевле.').loyalty__logo
        a(href='javascript:void(0)' title='Зарегистрировать карту').loyalty__btn.loyalty__btn--sm Зарегистрировать карту