include ../mixins/recipe
// Recipies
section.recipies-wrp
    .container.container--space-between.recipies
        h2.recipies-title Наши рецепты
        span.recipies-number 340 рецептов

    .container.container--space-between
        .js-recipies.recipies-slider
            - for (var i=0; i<6; i++ )
                +recipe