// Share icons
.share.container
    a(href='javascript:void(0)' title='Поделиться в ВКонтакте').share__icon.share__icon--vk
    a(href='javascript:void(0)' title='Поделиться в Одноклассниках').share__icon.share__icon--ok
    a(href='javascript:void(0)' title='Поделиться по почте').share__icon.share__icon--mail

