// Shops
.shops
    .container.container--center
        img(src='img/shops-logo.png' alt='Пяторочка').shops__logo
        .shops__info
            p.shops__number 5 100
            p.shops__text магазинов