// Trademarks
.trademarks
    .container.container--nowrap
        .trademarks__logos
            - for (var i=0; i<10; i++)
               img(src='img/trademark-logo.png' alt='Названия торговой марки' title='Названия торговой марки').trademark
        a(href='javascript:void(0)' title='еще 456 торговых марок').trademarks__btn +456
