// Banner
mixin banner
    article.banner
        img(src='img/banner-1.jpg')
        .container
            p.banner__limit c 30 июня по 6 июля 2015 года
            h2.banner__title Окорочка  куриные охлажденные
            p.banner__weight 1 кг
            .stock
                p.stock__new-price 129
                    span.stock__new-price-cents 00
                p.stock__old-price 129
                    span.stock__old-price-cents 50
                p.stock__percents -20%