/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-menu-marker-hover-name: 'sprite__menu-marker--hover';
$sprite-menu-marker-hover-x: 0px;
$sprite-menu-marker-hover-y: 0px;
$sprite-menu-marker-hover-offset-x: 0px;
$sprite-menu-marker-hover-offset-y: 0px;
$sprite-menu-marker-hover-width: 26px;
$sprite-menu-marker-hover-height: 26px;
$sprite-menu-marker-hover-total-width: 75px;
$sprite-menu-marker-hover-total-height: 68px;
$sprite-menu-marker-hover-image: '../img/sprite/png-sprite.png';
$sprite-menu-marker-hover: (0px, 0px, 0px, 0px, 26px, 26px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__menu-marker--hover', );
$sprite-menu-marker-name: 'sprite__menu-marker';
$sprite-menu-marker-x: 27px;
$sprite-menu-marker-y: 0px;
$sprite-menu-marker-offset-x: -27px;
$sprite-menu-marker-offset-y: 0px;
$sprite-menu-marker-width: 26px;
$sprite-menu-marker-height: 26px;
$sprite-menu-marker-total-width: 75px;
$sprite-menu-marker-total-height: 68px;
$sprite-menu-marker-image: '../img/sprite/png-sprite.png';
$sprite-menu-marker: (27px, 0px, -27px, 0px, 26px, 26px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__menu-marker', );
$sprite-news-all-marker-name: 'sprite__news-all-marker';
$sprite-news-all-marker-x: 0px;
$sprite-news-all-marker-y: 27px;
$sprite-news-all-marker-offset-x: 0px;
$sprite-news-all-marker-offset-y: -27px;
$sprite-news-all-marker-width: 24px;
$sprite-news-all-marker-height: 24px;
$sprite-news-all-marker-total-width: 75px;
$sprite-news-all-marker-total-height: 68px;
$sprite-news-all-marker-image: '../img/sprite/png-sprite.png';
$sprite-news-all-marker: (0px, 27px, 0px, -27px, 24px, 24px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__news-all-marker', );
$sprite-submenu-l2-marker-hover-name: 'sprite__submenu-l2-marker--hover';
$sprite-submenu-l2-marker-hover-x: 54px;
$sprite-submenu-l2-marker-hover-y: 22px;
$sprite-submenu-l2-marker-hover-offset-x: -54px;
$sprite-submenu-l2-marker-hover-offset-y: -22px;
$sprite-submenu-l2-marker-hover-width: 16px;
$sprite-submenu-l2-marker-hover-height: 16px;
$sprite-submenu-l2-marker-hover-total-width: 75px;
$sprite-submenu-l2-marker-hover-total-height: 68px;
$sprite-submenu-l2-marker-hover-image: '../img/sprite/png-sprite.png';
$sprite-submenu-l2-marker-hover: (54px, 22px, -54px, -22px, 16px, 16px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__submenu-l2-marker--hover', );
$sprite-submenu-l2-marker-name: 'sprite__submenu-l2-marker';
$sprite-submenu-l2-marker-x: 0px;
$sprite-submenu-l2-marker-y: 52px;
$sprite-submenu-l2-marker-offset-x: 0px;
$sprite-submenu-l2-marker-offset-y: -52px;
$sprite-submenu-l2-marker-width: 16px;
$sprite-submenu-l2-marker-height: 16px;
$sprite-submenu-l2-marker-total-width: 75px;
$sprite-submenu-l2-marker-total-height: 68px;
$sprite-submenu-l2-marker-image: '../img/sprite/png-sprite.png';
$sprite-submenu-l2-marker: (0px, 52px, 0px, -52px, 16px, 16px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__submenu-l2-marker', );
$sprite-submenu-marker-hover-name: 'sprite__submenu-marker--hover';
$sprite-submenu-marker-hover-x: 25px;
$sprite-submenu-marker-hover-y: 27px;
$sprite-submenu-marker-hover-offset-x: -25px;
$sprite-submenu-marker-hover-offset-y: -27px;
$sprite-submenu-marker-hover-width: 21px;
$sprite-submenu-marker-hover-height: 21px;
$sprite-submenu-marker-hover-total-width: 75px;
$sprite-submenu-marker-hover-total-height: 68px;
$sprite-submenu-marker-hover-image: '../img/sprite/png-sprite.png';
$sprite-submenu-marker-hover: (25px, 27px, -25px, -27px, 21px, 21px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__submenu-marker--hover', );
$sprite-submenu-marker-name: 'sprite__submenu-marker';
$sprite-submenu-marker-x: 54px;
$sprite-submenu-marker-y: 0px;
$sprite-submenu-marker-offset-x: -54px;
$sprite-submenu-marker-offset-y: 0px;
$sprite-submenu-marker-width: 21px;
$sprite-submenu-marker-height: 21px;
$sprite-submenu-marker-total-width: 75px;
$sprite-submenu-marker-total-height: 68px;
$sprite-submenu-marker-image: '../img/sprite/png-sprite.png';
$sprite-submenu-marker: (54px, 0px, -54px, 0px, 21px, 21px, 75px, 68px, '../img/sprite/png-sprite.png', 'sprite__submenu-marker', );
$spritesheet-width: 75px;
$spritesheet-height: 68px;
$spritesheet-image: '../img/sprite/png-sprite.png';
$spritesheet-sprites: ($sprite-menu-marker-hover, $sprite-menu-marker, $sprite-news-all-marker, $sprite-submenu-l2-marker-hover, $sprite-submenu-l2-marker, $sprite-submenu-marker-hover, $sprite-submenu-marker, );
$spritesheet: (75px, 68px, '../img/sprite/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
