%sprite:before {
    content: ' ';
    background-image: url("../svg/sprite/svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 0.0625rem 0.0625rem;
    display: inline-block;
    .no-svg & {
        background-image: url("../svg/sprite/svg-sprite.png");
    }
}

