/**
* Typography
**/

$base-font-size: 12px;
$base-line-height: 0;

/**
* Colors
**/

$base-font-color: #000;

/**
* Media Queries Breakpoints
**/

$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
);

// AstraMedia Group outdate browsers modal
$amg-color-wrapper-bgc: #808080;
$amg-color-modal-bgc: #fff;

$amg-color-title: #404041;
$amg-color-title-more: #e62d2a;

$amg-color-cross: #e62d2a;
$amg-color-cross--hover: #000;

$amg-color-browser-name: #373839;
$amg-color-browser--hover-shadow: #cfcfcf;

$amg-color-btn-thx: #e62d2a;
$amg-color-btn-thx--hover: #414041;
