/**
* Typography
**/

$base-font-size: 12px;
$base-line-height: 1rem;

/**
* Colors
**/

$base-font-color: #000;

/**
* Media Queries Breakpoints
**/

$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
)