/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-cities-arrow-name: 'sprite__cities-arrow';
@sprite-cities-arrow-x: 124px;
@sprite-cities-arrow-y: 64px;
@sprite-cities-arrow-offset-x: -124px;
@sprite-cities-arrow-offset-y: -64px;
@sprite-cities-arrow-width: 12px;
@sprite-cities-arrow-height: 7px;
@sprite-cities-arrow-total-width: 144px;
@sprite-cities-arrow-total-height: 129px;
@sprite-cities-arrow-image: '../img/sprite/png-sprite.png';
@sprite-cities-arrow: 124px 64px -124px -64px 12px 7px 144px 129px '../img/sprite/png-sprite.png' 'sprite__cities-arrow';
@sprite-cities-marker-name: 'sprite__cities-marker';
@sprite-cities-marker-x: 124px;
@sprite-cities-marker-y: 47px;
@sprite-cities-marker-offset-x: -124px;
@sprite-cities-marker-offset-y: -47px;
@sprite-cities-marker-width: 12px;
@sprite-cities-marker-height: 16px;
@sprite-cities-marker-total-width: 144px;
@sprite-cities-marker-total-height: 129px;
@sprite-cities-marker-image: '../img/sprite/png-sprite.png';
@sprite-cities-marker: 124px 47px -124px -47px 12px 16px 144px 129px '../img/sprite/png-sprite.png' 'sprite__cities-marker';
@sprite-clock-name: 'sprite__clock';
@sprite-clock-x: 124px;
@sprite-clock-y: 31px;
@sprite-clock-offset-x: -124px;
@sprite-clock-offset-y: -31px;
@sprite-clock-width: 15px;
@sprite-clock-height: 15px;
@sprite-clock-total-width: 144px;
@sprite-clock-total-height: 129px;
@sprite-clock-image: '../img/sprite/png-sprite.png';
@sprite-clock: 124px 31px -124px -31px 15px 15px 144px 129px '../img/sprite/png-sprite.png' 'sprite__clock';
@sprite-recipe-burger-name: 'sprite__recipe-burger';
@sprite-recipe-burger-x: 0px;
@sprite-recipe-burger-y: 83px;
@sprite-recipe-burger-offset-x: 0px;
@sprite-recipe-burger-offset-y: -83px;
@sprite-recipe-burger-width: 33px;
@sprite-recipe-burger-height: 22px;
@sprite-recipe-burger-total-width: 144px;
@sprite-recipe-burger-total-height: 129px;
@sprite-recipe-burger-image: '../img/sprite/png-sprite.png';
@sprite-recipe-burger: 0px 83px 0px -83px 33px 22px 144px 129px '../img/sprite/png-sprite.png' 'sprite__recipe-burger';
@sprite-recipe-egg-name: 'sprite__recipe-egg';
@sprite-recipe-egg-x: 124px;
@sprite-recipe-egg-y: 0px;
@sprite-recipe-egg-offset-x: -124px;
@sprite-recipe-egg-offset-y: 0px;
@sprite-recipe-egg-width: 20px;
@sprite-recipe-egg-height: 30px;
@sprite-recipe-egg-total-width: 144px;
@sprite-recipe-egg-total-height: 129px;
@sprite-recipe-egg-image: '../img/sprite/png-sprite.png';
@sprite-recipe-egg: 124px 0px -124px 0px 20px 30px 144px 129px '../img/sprite/png-sprite.png' 'sprite__recipe-egg';
@sprite-recipe-vegan-name: 'sprite__recipe-vegan';
@sprite-recipe-vegan-x: 0px;
@sprite-recipe-vegan-y: 106px;
@sprite-recipe-vegan-offset-x: 0px;
@sprite-recipe-vegan-offset-y: -106px;
@sprite-recipe-vegan-width: 26px;
@sprite-recipe-vegan-height: 23px;
@sprite-recipe-vegan-total-width: 144px;
@sprite-recipe-vegan-total-height: 129px;
@sprite-recipe-vegan-image: '../img/sprite/png-sprite.png';
@sprite-recipe-vegan: 0px 106px 0px -106px 26px 23px 144px 129px '../img/sprite/png-sprite.png' 'sprite__recipe-vegan';
@sprite-search-name: 'sprite__search';
@sprite-search-x: 34px;
@sprite-search-y: 83px;
@sprite-search-offset-x: -34px;
@sprite-search-offset-y: -83px;
@sprite-search-width: 21px;
@sprite-search-height: 20px;
@sprite-search-total-width: 144px;
@sprite-search-total-height: 129px;
@sprite-search-image: '../img/sprite/png-sprite.png';
@sprite-search: 34px 83px -34px -83px 21px 20px 144px 129px '../img/sprite/png-sprite.png' 'sprite__search';
@sprite-share-mail-hover-name: 'sprite__share-mail-hover';
@sprite-share-mail-hover-x: 83px;
@sprite-share-mail-hover-y: 0px;
@sprite-share-mail-hover-offset-x: -83px;
@sprite-share-mail-hover-offset-y: 0px;
@sprite-share-mail-hover-width: 40px;
@sprite-share-mail-hover-height: 40px;
@sprite-share-mail-hover-total-width: 144px;
@sprite-share-mail-hover-total-height: 129px;
@sprite-share-mail-hover-image: '../img/sprite/png-sprite.png';
@sprite-share-mail-hover: 83px 0px -83px 0px 40px 40px 144px 129px '../img/sprite/png-sprite.png' 'sprite__share-mail-hover';
@sprite-share-mail-name: 'sprite__share-mail';
@sprite-share-mail-x: 41px;
@sprite-share-mail-y: 0px;
@sprite-share-mail-offset-x: -41px;
@sprite-share-mail-offset-y: 0px;
@sprite-share-mail-width: 41px;
@sprite-share-mail-height: 40px;
@sprite-share-mail-total-width: 144px;
@sprite-share-mail-total-height: 129px;
@sprite-share-mail-image: '../img/sprite/png-sprite.png';
@sprite-share-mail: 41px 0px -41px 0px 41px 40px 144px 129px '../img/sprite/png-sprite.png' 'sprite__share-mail';
@sprite-share-ok-hover-name: 'sprite__share-ok-hover';
@sprite-share-ok-hover-x: 83px;
@sprite-share-ok-hover-y: 41px;
@sprite-share-ok-hover-offset-x: -83px;
@sprite-share-ok-hover-offset-y: -41px;
@sprite-share-ok-hover-width: 40px;
@sprite-share-ok-hover-height: 40px;
@sprite-share-ok-hover-total-width: 144px;
@sprite-share-ok-hover-total-height: 129px;
@sprite-share-ok-hover-image: '../img/sprite/png-sprite.png';
@sprite-share-ok-hover: 83px 41px -83px -41px 40px 40px 144px 129px '../img/sprite/png-sprite.png' 'sprite__share-ok-hover';
@sprite-share-ok-name: 'sprite__share-ok';
@sprite-share-ok-x: 0px;
@sprite-share-ok-y: 0px;
@sprite-share-ok-offset-x: 0px;
@sprite-share-ok-offset-y: 0px;
@sprite-share-ok-width: 40px;
@sprite-share-ok-height: 41px;
@sprite-share-ok-total-width: 144px;
@sprite-share-ok-total-height: 129px;
@sprite-share-ok-image: '../img/sprite/png-sprite.png';
@sprite-share-ok: 0px 0px 0px 0px 40px 41px 144px 129px '../img/sprite/png-sprite.png' 'sprite__share-ok';
@sprite-share-vk-hover-name: 'sprite__share-vk-hover';
@sprite-share-vk-hover-x: 41px;
@sprite-share-vk-hover-y: 42px;
@sprite-share-vk-hover-offset-x: -41px;
@sprite-share-vk-hover-offset-y: -42px;
@sprite-share-vk-hover-width: 40px;
@sprite-share-vk-hover-height: 40px;
@sprite-share-vk-hover-total-width: 144px;
@sprite-share-vk-hover-total-height: 129px;
@sprite-share-vk-hover-image: '../img/sprite/png-sprite.png';
@sprite-share-vk-hover: 41px 42px -41px -42px 40px 40px 144px 129px '../img/sprite/png-sprite.png' 'sprite__share-vk-hover';
@sprite-share-vk-name: 'sprite__share-vk';
@sprite-share-vk-x: 0px;
@sprite-share-vk-y: 42px;
@sprite-share-vk-offset-x: 0px;
@sprite-share-vk-offset-y: -42px;
@sprite-share-vk-width: 40px;
@sprite-share-vk-height: 40px;
@sprite-share-vk-total-width: 144px;
@sprite-share-vk-total-height: 129px;
@sprite-share-vk-image: '../img/sprite/png-sprite.png';
@sprite-share-vk: 0px 42px 0px -42px 40px 40px 144px 129px '../img/sprite/png-sprite.png' 'sprite__share-vk';
@spritesheet-width: 144px;
@spritesheet-height: 129px;
@spritesheet-image: '../img/sprite/png-sprite.png';
@spritesheet-sprites: @sprite-cities-arrow @sprite-cities-marker @sprite-clock @sprite-recipe-burger @sprite-recipe-egg @sprite-recipe-vegan @sprite-search @sprite-share-mail-hover @sprite-share-mail @sprite-share-ok-hover @sprite-share-ok @sprite-share-vk-hover @sprite-share-vk;
@spritesheet: 144px 129px '../img/sprite/png-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
