.container{
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  position: relative;

  .mq-hd({
    max-width: @hd-container-max-width;
  });

  .mq-md({
    max-width: @md-container-max-width;
  });

  .mq-sm({
    max-width: @sm-container-max-width;
  });

  min-width: @container-min-width;

  &--space-arround{
    justify-content: space-around;
  }
  &--space-between{
    justify-content:space-between;
  }
  &--center{
    justify-content:center;
  }
  &--nowrap{
    flex-wrap: nowrap;
  }
  &--column{
    flex-direction: column;
  }
}
