.container{
  width: 100%;
  max-width: @max-width-container;
  min-width: @min-width-container;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  position: relative;

  &--space-arround{
    justify-content: space-around;
  }
  &--space-between{
    justify-content:space-between;
  }
  &--center{
    justify-content:center;
  }
  &--column{
    flex-direction: column;
  }
}