.container{
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  position: relative;

  box-sizing: border-box;

  .mq-hd({
    max-width: @hd-container-max-width;
  });

  .mq-md({
    max-width: @md-container-max-width;
  });

  .mq-sm({
    max-width: @sm-container-max-width;
    padding-left: 30px;
    padding-right: 30px;
  });

  min-width: @container-min-width;

  &--space-arround{
    justify-content: space-around;
  }
  &--space-between{
    justify-content:space-between;
  }
  &--center{
    justify-content:center;
  }
  &--nowrap{
    flex-wrap: nowrap;
  }
  &--column{
    flex-direction: column;
  }
  &--banner{
    .mq-sm({
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
    });
  }
  &--recipies{
    .mq-sm({
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    });
  }
}
