.footer{
  background-color: @color-darkgrey;
  padding-top: 60px;
  padding-bottom: 180px;
  min-width: @container-min-width;
  .mq-sm({
    padding-bottom: 60px;
  });
  
  &__column{

    .mq-hd({
      flex-basis: 190px;
    });

    .mq-md({
      flex-basis: 165px;
    });

    .mq-sm({
      width: 100%;
    border-bottom: 1px solid #697176;
    });
  }
  &__title{
    .transition(opacity, 0.5s, ease);
    font-family:"PT Sans";
    font-size: 18px;
    color: @color-white;
    opacity: .4;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 28px;
    .mq-sm({
      .AvenirNextRegular;
      font-size: 32px;
      width: 100%;
      cursor: pointer;
      line-height: 110px;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
      &:after{
        .sprite(@sprite-footer-arrow);
        content: '';
        display: inline-block;
        position: absolute;
        right: 5%;
        top: calc(~"50% - 7px");
      }
    });
  }
  &__menu{
    .mq-sm({
      display: none;
    });
    &--visible{
      display: block;
      margin-bottom: 40px;
    }
  }
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item{
    line-height: 1;
    margin-bottom: 15px;
    &:last-child{  margin-bottom: 0;}
  }
  &__link{
    .transition(opacity, 0.5s, ease);
    color: @color-white;
    font-size: 14px;
    font-family:"PT Sans";
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    &:hover{  opacity: .4;  }
    .mq-sm({
      font-size: 20px;
      width: 100%;
    });
  }
  &__address{

    .mq-hd({
      flex-basis: 380px;
    });

    .mq-md({
      flex-basis: 300px;
    });

    .mq-sm({

    });
  }
  &__logo{
    width: 145px;
    height: 28px;
    margin-bottom: 17px;
    .mq-sm({
      width: 250px;
      height: 50px;
      margin-bottom: 30px;
      margin-top: 45px;
    });
  }
  &__text{
    color: @color-white;
    opacity: .4;
    font-size: 16px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 15px;
    font-family:"PT Sans";
    .mq-sm({
      .AvenirNextRegular;
      font-size: 24px;
    });
  }
  &__address-data{
    color: @color-white;
    opacity: .4;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    font-family:"PT Sans";
    .mq-sm({
      .AvenirNextRegular;
      font-size: 24px;
    });
  }
}