.top-header{
  background-color: @color-darkred;
  min-width: @container-min-width;

  .mq-sm({
    display: none;
  });
}

.cities{
  position: relative;

  &__dropdown{
    .AvenirNextMedium;
    font-size: 16px;
    color: @color-pink;
    text-decoration: none;
    line-height: 40px;
    .transition(color .4s ease);
    &:hover{  color: @color-white;  }
    &:before, &:after{
      content: '';
      display: inline-block;
    }
    &:before{
      .sprite(@sprite-cities-marker);
      margin-right: 8px;
    }
    &:after{
      .sprite(@sprite-cities-arrow);
      margin-left: 8px;
    }
  }
  &__dropdown-list{
    .transition(opacity .5s linear);
    opacity: 0;
    list-style: none;
    position: absolute;
    background-color: @color-darkred;
    margin: 0;
    padding: 0 20px;
    padding-bottom: 10px;
    z-index: -10;
    &--open{  opacity: 1;  z-index: 10;}
  }
  &__dropdown-item{

  }
  &__dropdown-link{
    .AvenirNextMedium;
    font-size: 16px;
    color: @color-pink;
    text-decoration: none;
    line-height: 40px;
    white-space: nowrap;
    .transition(color .4s ease);
    &:hover{  color: @color-white;  }
  }
}

.top-menu{
  padding-left: 0;
  margin: 0;
  flex-grow: 2;

  &__list{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  &__item{
    display: inline-block;
  }
  &__link{
    .AvenirNextMedium;
    .transition(color .4s ease);
    font-size: 16px;
    color: @color-pink;
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    padding: 0 18px;
    &:hover{  color: @color-white;  }
  }
}

.top-phone{
  .AvenirNextDemiBold;
  .transition(color .4s ease);
  font-size: 18px;
  color: @color-pink;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  &:hover{  color: @color-white;  }
}

.header{
  background-color: @color-red;
  min-width: @container-min-width;
  &__logo{

  }
  &__logo-img{
    width: 165px;
    height: 40px;
    padding: 20px 0;
  }
}

.header-menu{
  padding-left: 0;
  margin: 0;
  flex-grow: 2;
  margin-left: 98px;

  &__list{
    margin: 0;
    padding: 0;
    text-align: left;
  }
  &__item{
    display: inline-block;
    padding: 0 25px;
    &:first-child{  padding-left: 0;}
  }
  &__link{
    .AvenirNextDemiBold;
    .transition(color .4s ease);
    font-size: 20px;
    color: @color-white;
    text-decoration: none;
    line-height: 80px;
    display: inline-block;
    &:hover{  color: @color-pink;  }
  }
}

.header-search{
  display: inline-block;
  .sprite(@sprite-search);
  margin: 30px 0;
  margin-right: 35px;
}

.header-login{
  .AvenirNextDemiBold;
  .transition(all .4s ease);
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  color: @color-white;
  text-decoration: none;
  line-height: 36px;
  height: 40px;
  padding: 0 20px;
  border: 2px solid @color-white;
  border-radius: 25px;
  margin: 20px 0;
  &:hover{  background-color: @color-white;  color: @color-red;}
}