.loyalty{
  background-color: @color-lightred;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: @container-min-width;

  &__left{
    width: 50%;
  }
  &__slogan{
    .AvenirNextBold;
    font-size: 50px;
    color: @color-white;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
  }
  &__description{
    .AvenirNextMedium;
    font-size: 18px;
    color: @color-white;
    margin-top: 0;
    margin-bottom: 40px;
  }
  &__btn{
    .AvenirNextDemiBold;
    .transition(all .4s ease);
    font-size: 18px;
    color: @color-white;
    display: inline-block;
    height: 60px;
    line-height: 56px;
    width: 290px;
    box-sizing: border-box;
    border: 2px solid @color-white;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    &:hover{  background-color: @color-white;  color: @color-red;  }

  }
  &__card{
    height: 200px;
    width: 335px;
    border-radius: 25px;
    background-color: @color-white;
    margin-right: 130px;
    margin-top: 20px;
  }
}