.shops{
  background-color: @color-green;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-image: url(../img/shops-map.png);
  background-position: calc(~"50% - 180px") center;

  &__wrp{

  }
  &__logo{
    width: 100px;
    height: 135px;
    margin-right: 18px;
  }
  &__info{
    margin-left: 18px;
  }
  &__number{
    font-size: 123px;
    color: @color-white;
    margin: 0;
    margin-bottom: 20px;
    line-height: 90px;
    letter-spacing: -2.46px;
  }
  &__text{
    font-size: 24px;
    font-family:AvenirNextMedium;
    color: @color-yellowdark;
    margin: 0;
    line-height: 24px;
    letter-spacing: 0.48px;
  }
}