.trademarks{
  background-color: @color-white;
  padding-top: 100px;
  padding-bottom: 100px;
  min-width: @container-min-width;

  &__logos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(~"100% - 100px");
    .mq-sm({
      width: 100%;
    });
  }

  &__btn{
    .AvenirNextMedium;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: @color-red;
    color: @color-white;
    font-size: 27px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;

    .mq-hd({
      margin-left: 57px;
    });

    .mq-md({
      margin-left: 23px;
    });

    .mq-sm({
      display: none;
    });
  }
}

.trademark{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: @color-grey3;
  object-fit: contain;
  display: inline-block;
  &:first-child, &:nth-child(6n+6){  margin-left: 30px;  }
  &:nth-child(n+6){  margin-top: 20px;}

  .mq-hd({
    margin: 0 57px;
  });

  .mq-md({
    margin: 0 23px;
  });

  .mq-sm({
    margin: 0 32px;
    &:nth-child(n+4){  margin-top: 20px;}
  });

}