@max-width-container: 1246px;
@min-width-container: 640px;

@color-darkred: #cb1717;
@color-red: #ec2d2d;
@color-green: #0f8433;
@color-green2: #0e7b2f;
@color-green3: #46b650;
@color-white: #fff;
@color-grey: #434d54;
@color-pink: #fe9389;
@color-banner-bg: rgba(217,191,167,.5);
@color-grey2: #fafbfc;
@color-light: rgba(0,0,0,.4);
@color-light2: rgba(0,0,0,.7);
@color-grey3: #e9eff3;